@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.subheader {
  height: 3rem;
  display: none;
  @include mq('tablet', max) {
    display: flex;
  }

  .dashboard-buttons {
    a {
      width: 167px;
      height: 34px;
      background-color: $zircon;
      color: $dodglerBlue;
      font-size: 14px;
      border-radius: 2rem;
      transition: all 300ms;


      @include mq('desktop', max) {
        font-size: 12px;
        width: 147px;
        height: 29px;
      }

      &.active, &:hover {
        background-color: $dodglerBlue;
        color: white;
      }
    }


  }
}
