@import "../../../../../styles/abstracts/variables";
@import "../../../../../styles/abstracts/mixins";

.grid-row {
  height: 3.3rem;

  @include mq('desktop-wide', max) {
    height: 2.5rem;
    font-size: 12px;
  }

  @include mq('myScreen', max) {
    font-size: 11px;
  }

  @include mq('tablet-normal', max) {
    font-size: 10px;
  }

  &:last-of-type {
    border-bottom: 0;
  }

  img {
    width: 1rem;
    @include mq('myScreen', max) {
      width: 0.85rem;
    }

  }

  .index {
    font-size: .75rem;
    width: 1.5rem;
    height: 1.5rem;
    @include mq('desktop-wide', max) {
      font-size: .6rem;
      width: 1.3rem;
      height: 1.3rem;
    }

  }
}