@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.withdrawal {

  label {
    color:#38327C;
    font-size: 1.2rem;
    width: 6rem;

    @include mq('phone-wide', max) {
      font-size: 1rem;
    }
  }

  input {
    font-size: 1.2rem;
    padding: .5rem 1rem;
    width: 287px;
    max-width: 100%;
    border-radius: .3rem;
    background: #FFFFFF;
    border: 1px solid #CDDAEE;
    color: $minsk;
    font-weight: 600;
    height: 52px;
    &:read-only {
      background: #F3F6FE;
    }


    @include mq('phone-wide', max) {
      font-size: 1rem;
      width: 100% !important;
      max-width: 100%;
    }
  }
  div {
    @include mq('phone-wide', max) {
      width: 100% !important;
      max-width: 100%;
    }
  }

  button {
    width: 178px;
    height: 52px;
    @include mq('phone-wide', max) {
      width: 100% !important;
      max-width: 100%;
    }
  }

}


.uploadBox {
  width: 118px;
  height: 112px;
  border-radius: 0.5rem;

  label {

    &[for=uploadFile] {
      cursor: pointer;
    }
  }

  .uploadedDocument {
    position: relative;
    width: 100%;
    height: 100%;

    .img {
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;
    }


    .removeButton {
      position: absolute;
      right: 1rem;
      top: 1rem;
      width: 1.85rem;
      height: 1.85rem;
      background-color: rgba(151, 151, 151, 0.4);
      border-radius: 100%;
      cursor: pointer;

      img {
        width: auto;
        height: auto;
      }
    }
  }
}
