@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";


.account-details {

  .wrapper {
    @include mq('myScreen',max){
      padding-left: 3rem;
      padding-right: 3rem;
      width: 90% !important;
    }

    @include mq('tablet',max){
      padding-left: 2rem;
      padding-right: 2rem;
      width: 100% !important;
    }
    @include mq('phone',max){
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  .referral-title {
    font-size: 1.2rem;


    @include mq('phone-wide',max) {
      font-size: 1.1rem;
    }
    @include mq('phone',max) {
      font-size: 1rem;
    }
    font-weight: 500;
  }

  /* Checkbox Switch styles */
  .switch {

    input[type="checkbox"] {
      display: none;

      & + label {
        width: 55px;
        height: 27.5px;
        border-radius: 25px;
        background-color: #DDE2E5;
        border: 2px solid #DDE2E5;
        display: inline-block;
        content: "";
        margin-right: 5px;
        transition: background-color 0.5s linear;
        line-height: 2;

        &:hover {
          cursor: pointer;
        }

        &:before {
          width: 25px;
          height: 25px;
          border-radius: 30px;
          background-color: #EEE;
          display: block;
          content: "";
          float: left;
          margin-top: -0.6px;
          margin-right: 6px;
          transition: margin 0.2s linear, background-color 0.2s linear, border 0.2s linear;
        }
      }

      &:checked + label {
        background-color: $salmon;
        border: 2px solid $salmon;

        &:before {
          margin: -0.6px 0 0 26px;
          background-color: #EEE;
        }
      }
    }
  }
  .edit-profile {

    .fullname {
      @include mq('tablet', max) {

        flex-wrap: wrap !important;
        -ms-flex-wrap: wrap !important;
        -webkit-flex-wrap: wrap !important;
        gap: 0 !important;
        column-gap: 0 !important;
      }

      .flex-1 {
        @include mq('tablet', max) {
          flex: 0 0 100%
        }
      }
    }

    &--first-container {

      .profile-image {
        .w-40 {
          @include mq('phabet',max){
            margin: 0 auto;
          }
        }
      }
      .upload-avatar {
        right: -0.5rem;
        top: 6rem;

      }

      p {

        @include mq('phone-wide',max) {
          font-size: 0.9rem;
        }
      }
    }

    label {
      color: rgba(56, 50, 124, .49);
      font-weight: bold;
      display: block;
    }
    input, select{
      height: 51px;
    }

    textarea {
      height: 10rem;
    }
    input, select, textarea {
      display: block;
      border: 1px solid #E8E8E8 !important;
      padding: 0.8rem 1.5rem;
      border-radius: .5rem;
      margin: 1rem 0;
      width: 100%;


      &.error {
        border-color: #b70404 !important;
      }

    }

    .password {
      span {
        position: absolute;
        right: 1rem;
        top: 62%;
      }
    }

    button[type=submit] {
      @include mq('phablet',max){
        width: 100% !important;
      }
    }

    div.px-3 {
      @include mq('phablet',max){
        padding: 0 !important;
      }
    }

  }
  .title {
    font-size: 1.35rem;
    @include mq('phone-wide',max) {
      font-size: 1.2rem;
    }
    @include mq('phone',max) {
      font-size: 1.05rem;
    }
  }
}