@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.radioLabel {
  position: relative;
  cursor: pointer;
  input[type=checkbox] {
    opacity: 0
  }

  &:before {
    content: ' ';
    position: absolute;
    width: 1rem;
    height: 1rem;
    left: -.1rem;
    top: .3rem;
    border-radius: 100%;
    border: 3px solid $minsk;
  }

  &:after {
    content: ' ';
    position: absolute;
    width: 0.21rem;
    height: .21rem;
    padding: 0.21rem;
    left: .2rem;
    top: .62rem;
    border-radius: 100%;
    background-color: transparent;
    @include transition(all .2s linear)
  }


  &.active {
    &:after {
      background-color: $minsk;
    }
  }
}
