//... Main Colors
$accent: null;
$white: #fff !default;
$white-500: rgba(167, 164, 164, 0.836) !default;
$black: #000 !default;
$green: rgba(79, 222, 97, 1);
$tealBlue: rgba(36, 115, 113, 1);
$blue-spiroDiscoBall: rgba(50, 197, 255, 1) !default;
$gray: #828282 !default;
$gray-liver: rgba(78, 78, 78, 1) !default;
$dark-gray: lighten($black, 20%);
$light-gray: lighten($black, 60%);
$lighter-gray: lighten($black, 80%);

//... Palet

$darkBlue : #251873;
$salmon : #FD7E6F;
$flory : #F56C89;
$WildWatermelon : #fe5578;
$zumthor : #E5ECFF;
$selago : #F3F6FE;
$mailbu : #94B0F9;
$pictonBlue : #39D3EC;

//beginner
$beginnerBG: rgba(253, 126, 111, .16);
$beginnerColor : #FE5578;

//advanced
$advancedBG: #FFF9F0;
$advancedColor : #FFB443;
//expert1
$expert1BG: #EEFDFE;
$expert1Color : #25E0EC;
//expert2
$expert2BG: #EEECFF;
$expert2Color : #6C15FA;
//expert3
$expert3BG: #DAF6E9;
$greenHaze : rgba(9, 182, 109, .15 );


//pnt cap palette
$dodglerBlue : #3670fb;
$expert3Color : #09B66D;
$shamrock : #31CD95;
$zircon : #EDF2FF;
$manatee : #8F90A6;
$pattensBlue : #DDE9FF;
$blueBell : #8E9DC5;
$minsk : #38327c;
$indigo : #5243C2;

//-------------media query
$breakpoints: (
        "minWidth": 321px,
        "smallest-phone":361px,
        "small-phone": 376px,
        "phone": 401px,
        "phone-mid": 421px,
        "phone-wide": 500px,
        "phablet": 601px,
        "tablet-small": 641px,
        "tablet": 769px,
        "phone-rotate": 850px,
        "tablet-normal": 992px,
        "tablet-wide": 1025px,
        "desktop-small": 1101px,
        "desktop-middle":1201px,
        "desktop": 1259px,
        "myScreen": 1370px,
        "desktop-wide": 1480px,
        "1700": 1700px,
        'desktop-hd': 1890px,
        'iMac': 2100px,
        'maxWidth': 2500px,
);
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);
    @if $type == max {
      $width: $width - 1px;
    }
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}

@mixin mqHeight($height, $type: min) {
  @if map_has_key($breakpoints, $height) {
    $width: map_get($breakpoints, $height);
    @if $type == max {
      $height: $height - 1px;
    }
    @media only screen and (#{$type}-height: $height) {
      @content;
    }
  }
}


