@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.filepond--drop-label.filepond--drop-label {

  label {
    margin-right: auto;
    color: $darkBlue !important;
    padding-left: 0 !important;
  }
}

.filepond--panel-root {
  background-color: transparent !important;
}
