@import "../../../../../styles/abstracts/variables";
@import "../../../../../styles/abstracts/mixins";

.info-cart {
  min-width: 14.5rem;
  flex: 1;
  max-width: 100%;
  min-height: 4.5rem;
  border-radius: .75rem;
  padding-left: 1.25rem;

  @include mq('desktop-wide', max) {
    min-height: 3.5rem;
    border-radius: .5rem;
    padding-left: .75rem;
    font-size: 80%;
  }
  @include mq('myScreen', max) {
    min-width: 12.5rem;
  }
  @include mq('tablet-wide', max) {
    min-width: 14.5rem;
  }

  p {
    font-weight: 500;
  }

  img {

    @include mq('desktop-wide', max) {
      width: 1rem;
    }
  }
}