@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";


body, html {
  background-color: #F7FAFF;
}

.rtl {
  direction: rtl;
}

.main {
  width: 100%;
  @include transition(all .2s linear);

  &.opened {
    margin-right: 351px;
    width: auto !important;
    max-width: 1570px;
    @include mq('desktop-middle', max) {
      max-width: 100% !important;
      margin-right: 0;
    }
  }


  @include mq('maxWidth', min) {
    margin-left: 0 !important;
    max-width: 100% !important;
  }

  @include mq('tablet-normal', max) {
    max-width: 100% !important;
    margin-left: 0 !important;
  }


  &-container {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 1846px;
    min-height: 99.5vh;
    height: auto;
    max-height: max-content;
    padding-bottom: 6rem;
    overflow: hidden;

    .content {

      @include mq('tablet-normal', max) {
        padding-top: 1.5rem;
      }
    }
  }

}


.main-bg {
  background-color: #F3F6FE;
}

.home-title {
  color: $minsk;
  font-weight: 600;

  &.text-big {
    font-size: 1.75rem;

    @media screen and (min-width: 850px) and (max-width: 1025px) {
      font-size: 1.5rem;
    }

    @include mq('phone-wide', max) {
      font-size: 1.2rem;
    }
  }

  &.text-normal {
    font-size: 1.25rem;

    @media screen and (min-width: 850px) and (max-width: 1025px) {
      font-size: 1rem;
    }
    @include mq('phone-wide', max) {
      font-size: 1rem;
    }
  }

  &.text-small {
    font-size: 1rem;

    @media screen and (min-width: 850px) and (max-width: 1025px) {
      font-size: 0.8rem;
    }
    @include mq('phone-wide', max) {
      font-size: 0.9rem;
    }
  }
}

.user-details {
  width: 100%;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;

  @include mq('phone-wide', max) {
    padding: 0.25rem;
  }

  img {
    width: 20px;
  }

}

.rounded-xl {
  border-radius: 0.75rem;
}

.rounded-tl-xl {
  border-top-left-radius: 1.25rem;
  -webkit-border-top-left-radius: 1.25rem;
}

@include mq('tablet', max) {

  .small-px-6 {
    padding: 0.75rem !important;
  }
  .small-px-0 {
    padding: 0 !important;
  }
}

.right-1p {
  right: 1%;
}

.transform-rotate-180 {
  transform: rotate(180deg);
}

.nice-bg {
  background-image: url("/assets/img/svg/total-balance-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  @include mq('phablet', max) {
    background-image: url("/assets/img/svg/total-balance-bg-mobile.svg");
  }
}

.font-bold, .font-bolder {
  font-family: GiloryBold, serif !important;
}

.h-14 {
  height: 3.5rem;
}

@include mq('tablet-small', max) {
  .small-px-3 {
    padding: 0 1rem;
  }
}

.text-big {
  font-size: 1.25rem;

  @media screen and (min-width: 850px) and (max-width: 1025px) {
    font-size: 1rem;
  }
}

.font-weight-600 {
  font-weight: 600;
}

.min-w-48 {
  min-width: 12rem;
}

input[type=date] {

  &::-webkit-calendar-picker-indicator {
    filter: invert(66%) sepia(88%) saturate(3018%) hue-rotate(320deg) brightness(113%) contrast(104%);
  }
}

.filterWhiteToDarkBlue {
  filter: invert(65%) sepia(9%) saturate(6449%) hue-rotate(218deg) brightness(86%) contrast(83%);
}

.pagination {

  ul {
    border-radius: .5rem;
    padding: .5rem;

    li {
      cursor: pointer;
      //margin-left: -1px;
      position: relative;
      display: inline-flex;
      display: -webkit-inline-flex;
      display: -ms-inline-flexbox;
      align-items: center;
      -webkit-align-items: center;
      width: 2rem;
      height: 2rem;
      text-align: center;
      display: inline-flex;
      justify-content: center;
      margin: 0 .5rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-weight: 500;
      background: #FFFFFF;
      border: 1px solid #DFE3E8;
      box-sizing: border-box;
      border-radius: 4px;

      //&.previous , &.next {
      //  width: fit-content !important;
      //  margin: 0 .5rem;
      //}

      @include transition(all .1s ease-in-out);

      &:focus {
        z-index: 10;
        outline: 0 !important;
      }

      svg {
        &:focus {
          z-index: 10;
          outline: 0 !important;
        }
      }

      a {
        width: 100%;

        &:focus {
          z-index: 10;
          outline: 0 !important;
        }
      }

      &.active {
        border: 1px solid $dodglerBlue;
        color: $dodglerBlue;
      }

      &.previous, &.next {

        path {
          color: #C4CDD5;
        }
      }

      &.disabled {
        background: rgba(54, 112, 251, 0.37);
        opacity: 0.5;

        path {
          color: white;
        }
      }
    }
  }
}

.ReactModal__Overlay {
  z-index: 9999999999999999999999999 !important;
}

.without-scroll-bar {
  &::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
  }

  @media screen and (max-width: 768px) {

    ::-webkit-scrollbar {
      width: 0 !important;
      height: 0 !important;
    }
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: rgba(56, 50, 124, 0) !important;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(56, 50, 124, 0) !important;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: rgba(56, 50, 124, 0) !important;

  }

}

.tiny-scroll-bar {
  &::-webkit-scrollbar {
    width: 5px !important;
  }

  @media screen and (max-width: 768px) {

    ::-webkit-scrollbar {
      width: 5px !important;
    }
  }


}


//Color tools

.withdrawal-button {
  color: $white;
  background-color: $salmon;
  text-align: center;
  padding: .9rem 2.75rem;
  border-radius: .25rem;
  font-weight: 500;
  position: relative;

  &:disabled {
    background-color: rgba(253, 126, 111, .6);
  }

  &.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &.bg-gray {
    background-color: #9D9D9D;
    @include mq('tablet', min) {
      min-width: 10rem
    }
    width: auto !important;

    max-width: max-content !important;

  }
}

.dodgler-button {
  color: $white;
  background-color: $dodglerBlue;
  text-align: center;
  padding: .9rem 2.75rem;
  border-radius: .25rem;
  font-weight: 500;
  position: relative;

  &:disabled {
    background-color: rgba(54, 112, 251, .6);
  }

  &.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &.bg-gray {
    background-color: #9D9D9D;
    @include mq('tablet', min) {
      min-width: 10rem
    }
    width: auto !important;

    max-width: max-content !important;

  }
}

.invest-button {
  color: $white;
  background-color: rgba(255, 255, 255, .17);
  text-align: center;
  padding: 0.9rem 4rem;
  border-radius: .25rem;
  font-weight: 500;
}

.waterMelonButton {
  color: $WildWatermelon;
  background-color: rgba(253, 126, 111, .16);
  padding: .7rem 1.5rem;
  border-radius: .2rem;
  text-align: center;
  @include mq('myScreen', max) {
    padding: .7rem 1rem;
  }

  //&.Beginner , &.Bronze{
  //  background-color: $beginnerBG;
  //  color: $beginnerColor
  //}
  //
  //&.Advanced , &.Silver {
  //
  //  background-color: $advancedBG;
  //  color: $advancedColor
  //
  //}
  //
  //&.Expert , &.Gold  {
  //  background-color: $expert1BG;
  //  color: $expert1Color
  //
  //}
  //
  //&.Elite , &.Platinum {
  //  background-color: $expert2BG;
  //  color: $expert2Color
  //
  //}
  //
  //&.expert3 {
  //  background-color: $expert3BG;
  //  color: $expert3Color
  //
  //}

}

.bg-water-melon {
  color: $WildWatermelon;
  background-color: rgba(253, 126, 111, .16);
}

.greenButton {
  color: white;
  background-color: $shamrock;
  padding: .9rem 1rem;
  width: 9rem;
  border-radius: .2rem;
  text-align: center;
}

.text-md {
  font-size: 13px;
}

.text-darkBlue {
  color: $darkBlue !important;
}

.border-darkBlue {
  border-color: $darkBlue !important;
}


.border-1 {
  border-width: 1px;
}

.border-color-amber {
  border-color: $advancedColor !important;
}

.text-minsk {
  color: $minsk !important;
}

.bg-minsk {
  background-color: $minsk !important;
}

.text-shamrock {
  color: $shamrock
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.border-shamrock {
  border-color: $shamrock
}

.badge-shamrock {
  border: 1px solid;
  text-align: center;
  min-width: 7rem;
  padding: .15rem 0;
  width: max-content;
  border-radius: 1rem;
}

.bg-green {

}

.rotate180 {
  transform: rotateX(180deg);
}

.hidden {
  display: none !important;
}

.lg-block {
  @include mq('tablet-normal', min) {
    display: block !important;
  }
}

.bg-darkblue {
  background-color: $darkBlue;
}

.text-salmon {
  color: $salmon;
}

.bg-salmon {
  background-color: $salmon;
}

.bg-green-haze {
  background-color: $greenHaze;
  color: #09B66D;
}

.bg-link-water {
  background-color: #E6EBF8;
}

.btn-danger {
  background-color: #ff4f4f;
  color: white;
}

.text-danger {
  color: #ff4f4f;
}

.bg-pattensBlue {
  background-color: $pattensBlue;
}

.text-pattensBlue {
  color: $pattensBlue;
}

.text-dodglerBlue {
  color: $dodglerBlue;
}

.bg-dodglerBlue {
  background-color: $dodglerBlue !important;
}

.border-dodglerBlue {
  border: 1px solid $dodglerBlue !important;
}

.text-blueBell {
  color: $blueBell;
}

.svg-to-dodglerBlue {
  //filter: invert(37%) sepia(99%) saturate(3398%) hue-rotate(215deg) brightness(102%) contrast(96%);
}