@tailwind base;

@tailwind components;

@tailwind utilities;


::-webkit-scrollbar {
    width: 10px;
}

@media screen and (max-width: 768px){

    ::-webkit-scrollbar {
        width: 15px;
    }
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(56, 50, 124, .2);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(56, 50, 124, .6);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(56, 50, 124, 1);

}

::selection {
    background: rgba(56, 50, 124, 1); /* WebKit/Blink Browsers */
    color: white;
}

::-moz-selection {
    background: rgba(56, 50, 124, 1); /* WebKit/Blink Browsers */
    color: white;
}

@font-face {
    font-family: GiloryLight;
    src: url('../assets/font/Gilroy-Light.ttf');
}

@font-face {
    font-family: GiloryMedium;
    src: url('../assets/font/Gilroy-Medium.ttf');
}

@font-face {
    font-family: GiloryBold;
    src: url('../assets/font/Gilroy-Bold.ttf');
}
@font-face {
    font-family: GiloryExtraBold;
    src: url('../assets/font/Gilroy-ExtraBold.ttf');
}


html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-wrap: break-word;
    font-family: GiloryMedium;
    font-style: normal;
    scroll-behavior: smooth;
}

.font-bold , .font-bolder {
    font-family: GiloryBold !important;
}

