@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.calculate {
  gap: 5%;
  grid-gap: 5%;
  height: 40rem;
  @include mq('tablet-wide', max) {
    height: auto;
  }

  @include mq('tablet', max) {
    gap: 0;
    grid-gap: 0;
    height: auto;
  }
  @include mq('phone-wide', max) {
    padding: 2rem .5rem
  }

  &-left {
    flex: 0 0 29%;
    max-width: 29%;
    border-radius: 1.5rem;
    height: 100%;
    background-color: #F4F5FD;

    @include mq('tablet-wide', max) {
      flex: 0 0 95%;
      max-width: 95%;
      margin: 0 auto;
    }
    @include mq('tablet', max) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    &--section {
      @include mq('phone-wide', max) {
        padding: 0
      }
    }

    input[type=number] {
      @include transition(all .1s linear);
      padding: 0.5rem .5rem 0.5rem 0.3rem;
      text-align: center;
      border-radius: 1rem;
      border: 1px solid #D9DDFF;
      background-color: transparent;

      &:focus {
        outline: transparent !important;
      }
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
      opacity: 1;
    }
    .range-container {
      height: 7rem;
      background: white;
      display: flex;
      align-items: center;
      padding: 0 1.5rem 1.75rem 1.5rem;
      border-radius: .75rem;


      .input-range {

        &__label--min {
          display: none;
        }

        &__label--max {
          color: $darkBlue;
          font-weight: bold;
          right: 1rem !important;

          span {
            font-size: 1rem;

            @media screen and (min-width: 850px) and (max-width: 1025px) {
              font-size: 0.8rem;
            }
            position: relative;

            &:before {
              content: ' ';
              position: absolute;
              right: -1.25rem;
              color: inherit;
            }
          }
        }

        &__label--value {
          top: 2.2rem;

          span {
            font-weight: 600;
            color: $darkBlue;
            background-color: #F2F3FC;
            padding: .5rem;
            text-align: center;
            border-radius: .5rem;
            position: relative;

            &:before {
              content: ' ';
              position: absolute;
              padding: .5rem;
              background-color: #F2F3FC;
              transform: rotate(137deg);
              left: 37%;
              top: -.2rem;
              z-index: -1;
            }
          }
        }

        &__track--active {
          background-color: $salmon;
        }

        &__slider {
          background: white;
          border: 4px solid $salmon;
        }

      }


      &.price {
        .input-range__label--max {
          span {
            &:before {
              content: 'K+';
            }
          }
        }

        &.small {
          .input-range__label--value {
            span {
              &:before {
                left: 28%;
                padding: .35rem;
              }
            }
          }
        }

        &.normal {
          .input-range__label--value {
            span {
              &:before {
                left: 32%;
              }
            }
          }
        }

        &.big {

          .input-range__label--value {
            span {
              &:before {
                left: 37%;
              }
            }
          }
        }

        &.huge {
          .input-range__label--value {
            .input-range__label-container {
              left: -67%;

              &:before {
                left: 54%;
              }
            }
          }
        }

      }

      &.period {

        .input-range__label--value {
          span {
            padding: .5rem 1.25rem;
          }
        }

        &.small {
          .input-range__label--value {
            span {
              &:before {
                left: 31%;
              }
            }
          }
        }

        &.normal {
          .input-range__label--value {
            span {
              &:before {
                left: 38%;
              }
            }
          }
        }

        &.big {

          .input-range__label--value {
            span {
              &:before {
                left: 37%;
              }
            }
          }
        }

        &.huge {
          .input-range__label--value {
            .input-range__label-container {
              left: -67%;

              &:before {
                left: 54%;
              }
            }
          }
        }
      }

    }

  }

  &-right {
    flex: 0 0 66%;
    max-width: 66%;
    margin-left: auto;
    height: 100%;
    padding-top: 7%;
    @include mq('tablet-wide', max) {
      flex: 0 0 95%;
      max-width: 95%;
      margin: 0 auto;
    }
    @include mq('tablet', max) {
      flex: 0 0 100%;
      max-width: 100%;
    }

    &--result {
      padding-bottom: 1rem;

      .table-parent {
        overflow-x: auto;
        -ms-overflow-x: auto;
      }

      table {

        min-width: 40rem;


        @include mq('minWidth', max) {
          min-width: 30rem;
        }

        thead {
          th {
            color: rgba(56, 50, 124, 0.45);
            font-style: normal;
            font-weight: 500;
            text-align: left;
            font-size: 1rem;

            @media screen and (min-width: 850px) and (max-width: 1025px) {
              font-size: 0.8rem;
            }
            height: 3.5rem;
            @include mq('phone-wide', max) {
              font-size: 0.8rem;
              height: 2.5rem;
            }
          }
        }

        tbody {
          td {
            color: $darkBlue;
            font-weight: bold;
            font-style: normal;
            font-size: 1.3rem;
            @include transition(all .2s linear);
            @media screen and (min-width: 850px) and (max-width: 1025px) {
              font-size: 1rem;
            }
            @media screen and (min-width: 1460px) {
              min-width: 10rem;
            }

            text-align: left;
            height: 3.5rem;
            @include mq('phone-wide', max) {
              font-size: 0.9rem;
              height: 2.5rem;
            }
          }
        }
      }

    }

  }

  &-button {
    padding: .7rem 1.5rem;
    border-radius: .2rem;
    text-align: center;
    @include transition(all .2s linear);
    animation-name: textAnimation;
    animation-duration: .25s;
    //&.Beginner , &.Bronze {
    //  background-color: $beginnerBG;
    //  color: $beginnerColor;
    //
    //  animation-name: textAnimation;
    //  animation-duration: .25s;
    //}
    //
    //&.Advanced , &.Silver {
    //  background-color: $advancedBG;
    //  color: $advancedColor;
    //
    //  animation-name: textAnimation;
    //  animation-duration: .25s;
    //}
    //
    //&.Expert , &.Gold  {
    //  background-color: $expert1BG;
    //  color: $expert1Color;
    //  animation-name: textAnimation;
    //  animation-duration: .25s;
    //
    //}
    //
    //&.Elite , &.Platinum{
    //  background-color: $expert2BG;
    //  color: $expert2Color;
    //  animation-name: textAnimation;
    //  animation-duration: .25s;
    //
    //}

    &.vip {
      color: $expert3BG;
      background-color: $expert3Color;
      animation-name: textAnimation;
      animation-duration: .25s;
    }

    &.error {
      color: $expert3BG;
      background-color: orange;
    }


    @keyframes textAnimation {
      from {
        transform: scale(1)
      }
      to {
        transform: scale(1.25)
      }
    }
  }

  .fade {
    @include transition(all .2s linear);
  }
}
