@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.TabWrapper {
  width: 100%;
  position: relative;

  .swiper-container {
    width: calc(100% - 8rem);
    margin: 0 auto 0 4rem;
    @include mq('phone-wide', max) {
      width: calc(100% - 4rem);
      margin: 0 auto 0 1rem;
    }
  }

  .swiper-slide {
    min-width: fit-content;
    flex: 0 0 auto;
    max-width: fit-content;
    margin-right: 3.25rem;
    @include mq('desktop-wide', max) {
      min-width: fit-content;
      flex: 0 0 auto;
    }

    @include mq('phone-wide', max) {
      min-width: fit-content;
      max-width: fit-content;
      flex: 0 0 fit-content;
      margin: 0 1rem;
    }

    p {
      color: $manatee;
      line-height: 2.14;
      position: relative;
      transition: all 200ms;

      @include mq('phone-wide', max) {
        font-size: .8rem;
      }

      &:before {
        content: ' ';
        position: absolute;
        bottom: 0;
        width: 0;
        left: 0;
        height: 2px;
        background-color: $dodglerBlue;
        transition: all 200ms;

      }

      &.active, &:hover {
        color: $dodglerBlue;
        font-weight: bold;

        &:before {
          width: 100%;
        }
      }
    }
  }

  .next {
    position: absolute;
    right: 3rem;
    top:0;
    cursor: pointer;

    @include mq('tablet',max){
      right: 1.5rem;
    }
  }

}