@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.auth-wrapper {
  &--bg {
    background-image: url("/assets/img/png/auth-background-min.png");
    //background-image: url("../../assets/img/svg/auth-background.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0;
    height: 100vh;
    right: 0;
    @include mq('phablet',max){
      order: 2;
      position: relative;
      top: unset;
      right: unset;
      height: 100%
    }
  }

  &--video {
    border-radius: 1rem;
  }

  &--paragraph {

    p {
      font-size: 1.5rem;
      padding-top: .05rem !important;

      @include mq('desktop-wide', max) {
        font-size: 1.2rem;
      }
    }
  }

}
.mt-4 {
  margin-top: 1rem !important;
}

.react-player {
  max-width: 100% !important;
  width: 100% !important;
  @include mq('tablet-small', max) {
    max-width: 100% !important;
    width: 90% !important;
    height: 235px !important;
    margin: 0 auto;
    margin-top: 2rem;
  }
}

.bg-default {
  background-color: #FFFFFF;
}


.login-container {

  .headTitle {
    h6 {
      font-size: 1.75rem;
      padding-bottom: .5rem;

      @include mq('desktop', max) {
        font-size: 1.35rem;
      }
    }

    p {
      color: #7B8B98;
    }
  }

  .form--control {
    position: relative;

    &:before {
      content: ' ';
      position: absolute;
      width: 3rem;
      height: 3.4rem;
      left: .25rem;
      top: 0;
      background-size: 1.5rem 1.5rem;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 2;
    }

    &#emailInput {
      &:before {
        background-image: url("/assets/img/svg/icons/mail-icon.svg");
      }


    }

    &#passwordInput {
      &:before {
        background-image: url("/assets/img/svg/icons/lock-icon.svg");
      }

      span {

        position: absolute;
        width: 1.5rem;
        height: 3.4rem;
        right: .75rem;
        top: 0;
        z-index: 2;
      }
    }

  }

  &--input {
    border: 1px solid #E8E8E8 !important;
    border-radius: 10px;
    &[type=password],
    &[type=email],
    &#password , &#confirmPassword{
      padding-left: 3.5rem;
    }


  }

  &--button {
    position: relative;
    background-color: rgba(54, 112, 251, .95);
    border-radius: 10px;

    &:hover {
      background-color: rgba(54, 112, 251, 1);
    }

    &:focus {
      box-shadow: 0 0 0 3px rgba(54, 112, 251, 0.5);
    }

    &:disabled {
      opacity: 0.6;
    }
  }

  &--label {
    color: $minsk;
    font-weight: bold;
    font-size: 1.05rem;

    @include mq('desktop', max) {
      font-size: 0.9rem;
    }
  }

  select, input {

    &.error {
      border-color: #b70404 !important;
    }

    &:focus {
      //box-shadow: 0 0 0 3px rgba(253, 126, 111, 0.5);
      box-shadow: 0 0 0 3px #38327C;
    }
  }

  select {
    &:focus {
      border-color: transparent;
    }
  }
}

.text-dark-blue {
  color: $minsk;
}

.text-salmon {
  color: $dodglerBlue;
}

@include mq('phablet', max) {
  .sm-w-full {
    width: 100% !important;
  }
  //.mt-sm-4 {
  //  margin-top:2rem !important;
  //}
}

.filepond--credits {
  display: none;
}