@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.home {


  .summary {
    height: 11rem;

    @include mq('phablet', max) {
      height: auto;
    }
    @include mq('phone-wide', max) {
      padding: 0;
    }

    &-item {
      @include mq('phablet', max) {
        flex: 0 0 100%;
        max-width: 100%;
        border-bottom: 1px solid #CFDBFB;
        height: 8rem;
        justify-content: start;
        gap: 2rem;
        column-gap: 2rem;
        padding: 0 2rem;
        &:last-of-type {
          border-bottom: 0;
        }
      }

      @include mq('phone', max) {
        gap: 0;
        column-gap: 0;
        padding: 0 1rem;

      }

      div {
        flex: 0 0 100%;
        max-width: 100%;

        @include mq('phablet', max) {
          flex: 0 0 auto;

        }

        p {
          text-align: center;
          color: $darkBlue;
          font-weight: 600;

          @include mq('tablet', max) {
            font-size: .8rem;
          }
          @include mq('phablet', max) {
            font-size: 1rem;
            margin: 0 1rem;
          }
        }

        img {
          margin: 0 auto;
        }
      }
    }
  }

  .information {
    height: 14rem;
    gap: 2.5%;
    grid-gap: 2.5%;
    @include mq('tablet', max) {
      gap: 0;
      grid-gap: 0;
      height: auto;
    }

    &-left {
      flex: 0 0 32%;
      max-width: 32%;
      border-radius: 2rem;
      @include mq('tablet', max) {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 1rem auto;
      }

      .text {
        font-size: 1.5rem;
        font-weight: 600;
      }

      .value {
        font-size: 1.85rem;
      }

      span {
        font-size: 2.05rem;
      }

    }

    &-right {
      flex: 0 0 65.5%;
      max-width: 65.5%;
      border-radius: .75rem;
      @include mq('tablet', max) {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 1rem auto;
        padding: 1rem;
      }
      @include mq('phablet', max) {
        padding: 1rem 0;
      }
      @include mq('phone-wide', max) {
        padding: 0;
      }

      &--container {
        height: 50%;
        @include mq('phablet', max) {
          width: 100%;
          padding: 0;
          height: auto;
        }

        &.notLast {
          .summary-item {
            &:last-of-type {
              @include mq('phablet', max) {
                border-bottom: 1px solid #CFDBFB
              }
            }
          }
        }
      }
    }
  }

  .smart-calculator-btn {
    border: 1px solid rgba(59, 51, 99, .14);
    min-width: 15.375rem;
    width: max-content;
    max-width: 100%;
    height: 3.5rem;
    padding: 0 .5rem;

    @include mq('1700', min) {
      min-width: 18.375rem;
      height: 3.5rem;
    }

    @include mq('desktop-wide', max) {
      font-size: 13px;
      min-width: 100%;
    }
    @include mq('myScreen', max) {
      font-size: 12px;
    }
    @include mq('desktop-middle', max) {
      font-size: 11px;
    }
    @include mq('tablet-wide', max) {
      font-size: 75% !important;
    }
    @include mq('phablet', max) {
      min-width: 18.375rem;
      width: 15.375rem;
      max-width: 15.375rem;
      font-size: 100% !important;
    }
    @include mq('minWidth', max) {
      font-size: 10px;
      min-width: 17.375rem;
      width: 18.375rem;
      max-width: 18.375rem;
    }
  }

  &--profit {

    &-first {
      height: 26rem;

      @include mq('1700', max) {
        height: 24.5rem;
      }
      @include mq('desktop-wide', max) {
        height: 21rem;
      }

      @include mq('desktop-middle', max) {
        height: 20rem;
      }

      @include mq('tablet', max) {
        height: 56rem;
      }
      //@include mq('phone-wide', max) {
      //  height: 53rem;
      //}


      .div1 {
        grid-template-rows: repeat(5, minmax(0, 1fr));

        @include mq('desktop-middle', max) {
          grid-template-rows: repeat(5, minmax(0, 1fr));
        }

        @include mq('tablet', max) {
          grid-column: span 12 / span 12 !important;
          height: 20rem;
        }

      }

      .div2 {
        @include mq('tablet', max) {
          grid-column: span 12 / span 12 !important;
          height: 20rem;
        }
      }

      .div3 {
        @include mq('tablet', max) {
          grid-column: span 12 / span 12 !important;
          height: 15rem;
        }
        //@include mq('phone-wide', max) {
        //  height: 10rem;
        //}
      }
    }

    &-filter {
      height: 3rem;
      margin-left: auto;

      @include mq('desktop-wide', max) {
        margin-top: 1rem;
      }

      &-date {

        @include mq('desktop-wide', max) {
          width: 10rem;
          flex: 0 0 100%;
          max-width: 100%;
        }

        @include mq('tablet-wide', max) {
          width: 8rem;
          flex: 0 0 8rem;
          max-width: 8rem;
        }
        @include mq('tablet-normal', max) {
          flex: 0 0 100%;
          max-width: 100%;
        }

        @include mq('tablet', max) {
          display: inline-flex;
          justify-content: center;
          grid-gap: 1rem;
          gap: 1rem;
          height: 3rem;
        }
        .items {
          min-width: 13rem;
          width: max-content;
          width: -moz-max-content;
          @include mq('desktop-wide', max) {
            height: 2.5rem !important;
            padding: 0 0.25rem !important;
          }
          @include mq('myScreen', max) {
            min-width: 10rem;
          }
          @include mq('tablet-wide', max) {
            height: 2.25rem !important;
            padding: 0 0.25rem !important;
          }
          @include mq('tablet', max) {
            min-width: auto;
            width: auto;
            display: inline-flex;
            padding: 0 1rem !important;
          }
          @include mq('phone-wide', max) {
            padding: 0 0.5rem !important;
          }
          img {
            @include mq('tablet-wide', max) {
              width: 1rem;
            }
            @include mq('phone', max) {
              width: 0.75rem;
            }
          }

          div {
            @include mq('desktop-wide', max) {
              font-size: 11px;
            }
            @include mq('tablet-wide', max) {
              font-size: 10px;
            }
            @include mq('phone', max) {
              font-size: 9px;
            }
          }
        }
      }

      &-items {
        margin-right: auto;
        grid-column: span 12 / span 12;

        @include mq('desktop-wide', max) {
          //max-width: 42rem;
          flex: 0 0 100%;
          max-width: 100%;
        }
        @include mq('phablet', max) {
          margin-left: -7rem;
        }

        .swiper-wrapper {
          display: flex;
          justify-content: flex-start;
        }

        .swiper-slide {

          &:first-of-type {
            @include mq('desktop-wide', max) {
              display: none;
            }
          }

          div {
            min-width: 9.5rem;
            width: max-content;
            max-width: max-content;
            margin-right: 1rem;
            height: 100%;
            background-color: #E6EBF8;
            border-radius: .65rem;
            padding-left: .25rem;
            padding-right: .25rem;

            &.active {
              background-color: white;
            }


            @include mq('myScreen', max) {
              font-size: 12.5px;
            }

          }

          .live-arbitrage {
            flex: 0 0 10rem;
            max-width: 10rem;
            width: 10rem;
            @include mq('myScreen', max) {
              font-size: 12.5px;
            }
          }
        }
      }
    }

    &-second {
      .live-arbitrage--table {
        overflow-x: auto;
        -ms-overflow-x: hidden;
        position: relative;

        .header {
          position: sticky;
          left: 0;
          display: flex;
          align-items: center;
          -webkit-align-items: center;
          height: 2.5rem;
          span {
            position: relative;

            //&:before {
            //  content: ' ';
            //  position: absolute;
            //  left: -1.5rem;
            //  top: -10%;
            //  height: 1.75rem;
            //  width: .25rem;
            //  border-radius: 0 1rem 1rem 0;
            //  background-color: $darkBlue;
            //
            //}
          }
        }

      }

      &-bar-chart {
        min-height: 21rem;
        max-height: max-content;
        @include mq('1700', min) {
          min-height: 28rem;
        }
        @include mq('myScreen', max) {
          min-height: 23rem;
        }
        @include mq('desktop-middle', max) {
          min-height: 21rem;
        }
        @include mq('tablet', max) {
          min-height: 55rem;
        }


        .div1 {
          @include mq('tablet', max) {
            grid-column: span 12 / span 12 !important;
            display: flex;
            flex-wrap: wrap;
            padding: 1.5rem .5rem .5rem !important;
          }

          p {
            width: max-content;
            width: -moz-max-content;
            @include mq('myScreen', max) {
              font-size: 85%;
              min-width: 5rem;
            }
          }

          .expected {

            @include mq('tablet', max) {
              flex: 0 0 45%;
              max-width: 45%;
              justify-content: center;
              -webkit-justify-content: center;
            }
            span {

              @include mq('myScreen', max) {
                font-size: 14px !important
              }
              @include mq('tablet-wide', max) {
                font-size: 12px !important
              }

              @include mq('tablet', max) {
                font-size: 16px !important
              }
            }
          }

          .current {

            @include mq('tablet', max) {
              flex: 0 0 45%;
              -webkit-flex: 0 0 45%;
              -ms-flex: 0 0 45%;
              max-width: 45%;
              justify-content: center;
              -webkit-justify-content: center;
            }

            span {

              @include mq('myScreen', max) {
                font-size: 14px !important
              }
              @include mq('tablet-wide', max) {
                font-size: 12px !important
              }
              @include mq('tablet', max) {
                font-size: 16px !important
              }
            }
          }


        }

        .div2 {
          @include mq('tablet', max) {
            grid-column: span 12 / span 12 !important;
            //height: 20rem;
          }
        }

        .div3 {
          @include mq('tablet', max) {
            grid-column: span 12 / span 12 !important;
            //height: 17rem;
          }
        }
      }
    }

  }

  .pie-chart-container {
    padding: 1rem 1.25rem 0;

    @include mq('desktop-wide', max) {
      padding: 1rem 0 0;
    }

    &--tab {
      width:7rem;
      height: 2.5rem;
      @include mq('desktop-wide', max) {
        width: 5rem;
        height: 2rem;
        padding: .15rem;
      }

    }
  }
}

.input-range__label {
  font-family: unset !important;
}