.card {
  min-width: 269px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  .deposit-total {
    border: 1px solid #7f9cf5;
    img {
      width: 10px;
    }
  }

  .text {
    color: white;
  }

  &.light {

    .deposit-total {
      border: 1px solid #848484;
    }

    .text {
      color:#181819
    }

    img.icon {
      filter: invert(80%) sepia(5%) saturate(0%) hue-rotate(50deg) brightness(106%) contrast(106%);
    }
  }
}