@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.donut-chart {

  .apexcharts-legend.apexcharts-align-center {
    @include mq('tablet',min){
      //position: absolute;
      //left: auto;
      //top: unset !important;
      //right: 5px;
      //bottom: 24px !important;
      //width: 100%;
      //display: flex;
      //flex-direction: row !important;
      //flex-wrap: wrap !important;
    }
    @include mq('tablet',max){
      position: relative;
      top: 10px !important;
      bottom: unset !important;
    }
    //@include mq('phone-wide',max){
    //  top: 20px !important;
    //}
    .apexcharts-legend-series {
      flex: 0 0 45% !important;
      max-width: 45% !important;
      @include mq('desktop-wide',max){
        flex: 0 0 100% !important;
        max-width: 100% !important;
      }

    }
  }

  //.apexcharts {
  //
  //  &-canvas {
  //    margin: 0 auto;
  //  }
  //
  //}
  //
  //
  //.apexcharts-svg {
  //  @include mq('tablet',min){
  //    height: 335px !important;
  //  }
  //
  //  @include mq('desktop-wide',max){
  //    height: 300px !important;
  //  }
  //
  //  @include mq('desktop-middle',max){
  //    height: 280px !important;
  //  }
  //
  //  @include mq('tablet-wide',max){
  //    height: 260px !important;
  //  }
  //
  //  @include mq('tablet',max){
  //    height: 200px !important;
  //  }
  //  @include mq('phablet',max){
  //    height: 150px !important;
  //  }
  //
  //  @include mq('phone-wide',max){
  //    height: 100px !important;
  //  }
  //
  //
  //  foreignObject {
  //
  //    @include mq('tablet',min){
  //      height: 335px !important;
  //    }
  //    @include mq('desktop-wide',max){
  //      height: 300px !important;
  //    }
  //
  //    @include mq('desktop-middle',max){
  //      height: 280px !important;
  //    }
  //
  //    @include mq('tablet-wide',max){
  //      height: 260px !important;
  //    }
  //    @include mq('tablet',max){
  //      height: 200px !important;
  //    }
  //    @include mq('phablet',max){
  //      height: 150px !important;
  //    }
  //
  //    @include mq('phone-wide',max){
  //      height: 100px !important;
  //    }
  //
  //  }
  //}

}
