@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.accounts {
  .profile {
    background-color: white;
    min-height: 130px;
    border-radius: 10px;
    padding: 20px;

    img {
      width: 85px;
      border: 10px solid #f3f6fe;
    }

    .name {
      padding: 0 0 0 10px;
      p {
        color: #38327C;
        font-family: 'GiloryBold';
        font-size: 18px;
      }
      span {
        color: #3670FB;
        font-size: 14px;
        font-family: 'GiloryBold';
      }
    }
  }

  &-first-container {
    gap: 2%;
    grid-gap: 2%;
    height: 31rem;
    @include mq('myScreen', max) {
      min-height: 30rem;
      height: auto;
    }
    @include mq('tablet', max) {
      height: auto;
      gap: 0;
      grid-gap: 0;
    }

    @include mq('myScreen', max) {
      padding: 0 0.25rem !important;
    }

    &--left {
      flex: 0 0 39%;
      max-width: 39%;
      min-height: 100%;

      @media screen and (max-width:1450px) and (min-width:1400px) {
        padding-left: 1rem;
        padding-right: 1rem;
      }

      @include mq('tablet-wide', max) {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
      @include mq('tablet', max) {
        flex: 0 0 100%;
        margin: 1rem 0;
        max-width: 100%;
        padding-left: 1rem;
        padding-right: 1rem;
      }

      .profile-container {
        @include mq('desktop-small', max) {
          flex-wrap: wrap;
        }
      }

      .image-avatar {
        flex: 0 0 30%;
        max-width: 30%;
        border-radius: 100%;
        @media screen and (max-width:1500px) and (min-width:1300px) {
          flex: 0 0 8rem;
          max-width: 8rem;
        }
        @include mq('desktop-small', max) {
          flex: 0 0 100%;
          max-width: 100%;
          margin-bottom: 2rem;
          width: 10rem;
        }


        img {
          width: 7rem;
          height: 7rem;
          border: 15px solid #F3F6FE;
          border-radius: 100%;
          @media screen and (max-width:1450px) and (min-width:1400px) {
            border: 12px solid #F3F6FE;
            width: 7rem;
          }
          @include mq('desktop-small', max) {
            margin: 0 auto;
          }
        }
      }

      .nickname {
        color: $darkBlue;
        font-size: 2rem;
        max-font-size: 100%;
        font-weight: 600;
        flex: 0 0 65%;
        max-width: 65%;
        padding-left: .6rem;

        @include mq('desktop-wide', max) {
          font-size: 1.5rem;
          flex: 0 0 65%;
          max-width: 65%;
        }
        @media screen and (max-width:1450px) and (min-width:1400px) {
          font-size: 1.25rem;
          flex: 0 0 65%;
          max-width: 65%;
        }

        @include mq('desktop-small', max) {
          font-size: 1.1rem;
          flex: 0 0 100%;
          max-width: 100%;
          text-align: center;
        }

        span {
          text-align: center;
          width: auto;
        }
      }

      .points {
        font-size: 1.1rem;

        @media screen and (max-width:1450px) and (min-width:1400px) {
          font-size: 1rem;
        }

        @include mq('phone-wide', max) {
          margin-top: .5rem;
          margin-bottom: 0;
          padding-bottom: .5rem;
          width: 80%
        }

        @include mq('phone', max) {
          width: 90%
        }
        @include mq('smallest-phone', max) {
          width: 98%
        }

        div {
          @include mq('phone-wide', max) {
            text-align: center;
            margin: .25rem auto;
          }
        }

        span {
          font-weight: 600;
        }

        p {
          font-size: 1rem;

          @include mq('myScreen', max) {
            font-size: 0.8rem;
          }
          @include mq('phone-wide', max) {
            text-align: center;
            margin: .5rem 0;
          }
        }

        .greenButton {
          width: 14rem !important;
          font-size: 1rem !important;
        }
      }
    }

    &--right {
      flex: 0 0 58%;
      max-width: 58%;
      min-height: 100%;
      height: auto;
      //gap: 5%;
      //grid-gap: 5%;

      @include mq('tablet', max) {
        flex: 0 0 100%;
        max-width: 100%;
      }

      .bottom {
        margin-top: 1.75rem;
      }
      .top, .bottom {
        height: 50%;

        @include mq('tablet', max) {
          margin: 1rem 0;
        }

        .title {
          p {
            font-weight: 600;
            font-size: 1.5rem;

            @include mq('myScreen', max) {
              font-size: 1.25rem;
            }
          }
        }

        .body {
          p {
            font-weight: 600;
            font-size: 1rem;

            @include mq('myScreen', max) {
              font-size: 0.8rem;
            }
          }

        }

        a {
          @include mq('myScreen', max) {
            font-size: 0.8rem;
          }
        }
      }

    }
  }

  &-levels {
    &--titles {
      @include mq('desktop', max) {
        display: none;
      }

      ul {
        li {
          min-height:6rem;
          color: $minsk;
          font-weight: 500;
          padding: .2rem 1rem 0.1rem;
          display: flex;
          display: -o-flex;
          display: -ms-flex;
          display: -webkit-flex;
          flex-wrap: wrap;
          -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
          align-items: center;
          -webkit-align-items: center;
          justify-content: flex-start;
          -webkit-justify-content: flex-start;
          width: 95%;
          margin: 0 auto;
          font-size: .95rem;
          @include mq('desktop-wide', max) {
            font-size: .75rem;
          }

          @include mq('desktop-middle', max) {
            min-height: 4rem;
          }

          &:first-of-type {
            height: 9.25rem;
            border-bottom: 0;
            max-height: 9.25rem;
            //@include mq('desktop-middle', max) {
            //  height: 4rem;
            //  min-height: 4rem;
            //}
          }

          //&:nth-of-type(3) {
          //  height: 5rem;
          //  @include mq('desktop-middle', max) {
          //    height: 4.5rem;
          //    min-height: 4.5rem;
          //  }
          //}


          &:last-of-type {
            height: auto;
            max-height: max-content;
            border-bottom: 0;
          }


          p {
            width: 100%;
            text-align: left;

            @include mq('desktop-middle', max) {
              font-size: .7rem;
            }
          }

          small {
            padding-top: .25rem;
            font-weight: 400;
          }
        }
      }
    }

  }

  .lg-col-span-7 {
    @media screen and (max-width:1024px){
      grid-column: span 8 / span 8 !important;
    }

  }

  .swiper-container {
    padding: 0 0 2rem 0;

    .swiper-wrapper {
      height: 100% !important;
    }
  }


}
