@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.info-cart2 {
  min-width: 291px;
  min-height: 79px;
  max-width: 291px !important;
  margin: 0 auto;
  flex: 1;
  border-radius: .75rem;
  padding-left: 1.25rem;
  padding-right: 1rem;
  background: #FFFFFF;

  p {
    font-weight: 500;
  }

  .text {
    line-height: 27px;
    color: #181819;
    opacity: 0.5;
    font-size: 12px;

  }

  .body {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    color: #181819;
  }

  .image {
    width: 50px;
    height: 50px;
    background: rgba(148, 160, 255, .12);
    border-radius: 100%;
    object-fit: contain;
  }

  //img {
  //
  //  @include mq('desktop-wide', max) {
  //    width: 1rem;
  //  }
  //}
}