@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";


.sidebar {
  background-color: #EFF4FD;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1005;
  height: 100%;
  width: 351px;
  @include transition(all .2s linear);

  @include mq('desktop-middle', max) {
    right: -351px;
  }
  &.short {
    right: 0;
  }

  &.closeMobile {
    @include mq('tablet-normal', max) {
      width: 0 !important;
    }
  }
  &-container {
    @include mq('tablet-normal', max) {
      padding-bottom: 11rem;
    }

  }

  &-upgrade--section {
    @include mq('tablet-normal', max) {
      display: block !important;
    }
  }

  .user-details {
    @include mq('desktop-middle', max) {
      display: none !important;
    }
  }

  .closeIcon {
    display: none !important;
    @include mq('desktop-middle', max) {
      display: flex !important;
      height: 50px;
      align-items: center;
      padding-left: 1rem;
      padding-top: 1rem;
    }

  }

  .user-details {
    border-bottom: 1px solid #DAE1EC;


    .avatar {
      width: 59px;
      height: 59px;
    }

  }

}
