@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.main-header {
  width: 100%;
  max-width: 100%;
  position: sticky;
  top: 0;
  z-index: 1004;
  @include mq('tablet-normal', max) {
    position: sticky;
    top: -1px;
  }
  @include mq('phone-wide', max) {
    padding: 0
  }

  &-container {
    width: 100%;
    height: 6.5rem;
    @include mq('phone-rotate', max) {
      height: 10rem;
    }
    &--left {
      position: relative;

      @include mq('desktop-middle', max) {
        width: 100%;
        flex: 0 0 100%;
        min-width: 100%;
        max-width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: start;
      }

      h1 {
        font-weight: bold;
        color: $darkBlue;
        font-size: 1.4rem;

        @include mq('tablet-normal', max) {
          display: none;
        }
      }

      //@include mq('phone-rotate', max) {
      //  height: 4rem;
      //}
      @include mq('phone-wide', max) {
        width: 60%;
      }

      @include mq('phone', max) {
        width: 50%;
      }

      .dashboard-buttons {

        a {
          width: 167px;
          height: 34px;
          background-color: $zircon;
          color: $dodglerBlue;
          font-size: 14px;
          border-radius: 2rem;
          transition: all 300ms;


          @include mq('desktop', max) {
            font-size: 12px;
            width: 147px;
            height: 29px;
          }

          &.active, &:hover {
            background-color: $dodglerBlue;
            color: white;
          }
        }

        @include mq('phone-rotate', max) {
          order:9;
          flex: 0 0 100%;
          max-width: 100%;
        }
      }

      .mobile {
        display: none;
        @include mq('desktop-middle', max) {
          display: flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: -webkit-flex;
          align-items: center;
          -webkit-align-items: center;
        }
        @include mq('phone-rotate', max) {
          height: 4rem;
        }

        .hamburger-menu {
          width: 3rem;
          height: 2rem;
          margin: 5px 10px;
          padding-top: 5px;

          @include mq('phone-wide', max) {
            width: 3.5rem;
          }
          @include mq('phone-wide', max) {
            margin: 5px;
          }
          @include mq('phone', max) {
            margin: 0;
          }

          div {
            @include transition(all .2s linear);
            margin: 2.5px 0 2.5px auto;
            height: 4px;
            background-color: black;
            border-radius: 1rem;
            display: block;
            @include mq('phone-wide', max) {
              width: 2rem;
              margin: 2px 0 2px auto;
              height: 3px;
            }
            @include mq('phone', max) {
              width: 1.65rem;
              height: 2px;
            }
            &:nth-of-type(1) {
              width: 1.7rem;
              margin-left: auto;
            }

            &:nth-of-type(2) {
              width: 2.15rem;
            }

            &:nth-of-type(3) {
              width: 1.5rem;
              margin-left: auto;
            }
          }

        }


        img.logo {
          width: 10rem;
          height: auto;
          @include mq('desktop-middle', max) {
            display: none;
          }
        }

      }
    }


    &--right {


      @include mq('tablet-normal', max) {
        margin-right: 1rem;
      }

      .notifications-dropdown {
        &--badge {
          background-color: $flory;
          text-align: center;
          position: absolute;
          right: -.6rem;
          top: -.8rem;
          font-size: 9px;
          color: white;
          width: 1.25rem;
          height: 1.3rem;
          border-radius: 100%;
        }
      }

      .search {
        width: 18rem;
        position: relative;


        @include mq('desktop-middle', max) {
          width: 14rem;
        }

        @include mq('desktop-middle', max) {
          display: none;
        }

        &:before {
          content: ' ';
          position: absolute;
          right: 1rem;
          top: .7rem;
          width: 1.1rem;
          height: 1.1rem;
          background-image: url("/assets/img/svg/icons/search-icon.svg");
          background-repeat: no-repeat;
          background-size: cover;

        }

        input {
          background-color: $zircon;
          padding: .86rem 2.5rem .86rem 1rem ;
          height: 100%;
          font-size: .75rem;
          border-radius: 2rem;

          &:focus {
            outline: 0 !important;
          }

          &::placeholder {
            color: #1F263E;
          }
        }
      }
    }
  }
}
