@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.referral {

  .box {

    .nice-bg {
      border-radius: 1.75rem;
    }

    div {

      p {
        padding-bottom: 0;
        font-weight: 600;
        font-size: 1.25rem;

        @include mq('tablet-normal', max) {
          font-size: 1rem;
        }


      }

      span {
        font-weight: 600;
        font-size: 1.25rem;
        @include mq('tablet-wide', max) {
          font-size: 1rem;
        }
      }
    }
  }


  .referral-links {

    @include mq('tablet-small', max) {
      padding: 1rem;
    }

    &--item {

      .title {
        font-size: 1.25rem;
        font-weight: bold;
        font-family: GiloryBold !important;
        @include mq('tablet-wide', max) {
          font-size: 1rem;
        }
      }

      .link {
        font-weight: 500;

        p {
          color: #38327C;
          @include mq('tablet-wide', max) {
            font-size: 0.7rem;
          }

          &.selected {
            background: #38327C;
            color: white;
          }
        }
      }
    }
  }
}