@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.classic-table {

  table {
    overflow-x: auto;
    min-width: 40rem;

    @include mq('minWidth', max) {
      min-width: 30rem;
    }
    @include mq('desktop-wide', max) {
      font-size: 85%
    }

    &.big {
      min-width: 50rem;

      @include mq('minWidth', max) {
        min-width: 40rem;
      }
    }

    &.huge {
      min-width: 70rem;

      @include mq('minWidth', max) {
        min-width: 50rem;
      }
    }

    thead {
      border-bottom: 1px solid rgba(120, 116, 166, 0.24);

      th {
        color: rgba(56, 50, 124, 0.68);
      }
    }

    tbody {

      td {
        color: #38327C;
      }
    }


    .mobile-hidden {
      @include mq('phone-rotate', max) {
        display: none
      }
    }
  }
}
