@import "../../../../../styles/abstracts/variables";
@import "../../../../../styles/abstracts/mixins";

.info-cart {
  min-width: 90%;
  //min-width: 325px;
  min-height: 119px;
  margin-left: 2rem;
  margin-top: 0;
  flex: 1;
  max-width: 100%;
  border-radius: .75rem;
  padding-left: 1.25rem;
  background: #FFFFFF;
  @include mq('myScreen', max) {
    min-width: 12.5rem;
  }
  @include mq('tablet-wide', max) {
    min-width: 14.5rem;
  }

  p {
    font-weight: 500;
  }

  .text {
    font-size: 18px;
    line-height: 27px;
    color: #3B3363;
  }

  .body {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    color: #09B66D;
  }

  .image {
    width: 50px;
    height: 50px;
    background: rgba(148, 160, 255, .12);
    border-radius: 100%;
    object-fit: contain;
  }

  img {

    @include mq('desktop-wide', max) {
      width: 1rem;
    }
  }
}