@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.faq {
  &-container {

    &--list {


      &-item {
        overflow-y: hidden;

        .faq-header {
          padding: 0 4rem;
          @include mq('tablet',max){
            padding: 0 1rem;
          }
          @include mq('phone',max){
            padding: 0 0.5rem;
          }
          @include transition(all .15s linear);
          &:hover {
            background-color: #F4F5FD;
          }
          cursor: pointer;


          .title {
            color: rgba(56, 50, 124, 0.81);
            font-family: GiloryBold;

            @include mq('phone-wide',max){
              margin-left: .5rem
            }
          }

          .icon {
            padding-right: 1rem;
            position: relative;

            &:before, &:after {
              content: ' ';
              position: absolute;
              @include transition(all .2s linear);
              right: 1rem;
              top: 45%;
              width: 1.15rem;
              height: .25rem;
              background-color: $dodglerBlue;
            }

            &:after {
              transform: rotate(90deg);
            }
          }
        }

        .body {
          padding: 0 4rem;
          @include mq('tablet',max){
            padding: 0 1rem;
          }
          @include mq('phone',max){
            padding: 0 0.5rem;
          }
          height: 0;

          p {
            padding-bottom: 0 !important;
            color: rgba(56, 50, 124, 0.53);
            font-style: normal;
            font-weight: 400;
            line-height: 1.75;
          }
        }


        &.active {
          .faq-header {
            .title {
              font-weight: bolder;
              font-family: GiloryExtraBold;
            }

            .icon {
              &:before {
                transform: rotate(-180deg);
              }
              &:after {
                transform: rotate(0deg);
              }
            }
          }

          .body {
            padding: 1rem 4rem;
            @include mq('tablet',max){
              padding: 1rem 1rem;
            }
            @include mq('phone',max){
              padding: 0.5rem 0.5rem;
            }
            height: auto;
          }
        }

      }
    }
  }
}