@import "../../../styles/abstracts/variables";
@import "../../../styles/abstracts/mixins";

.settings {

  label {
    color: rgba(56, 50, 124, 0.49);
  }
  .description {
    color: rgba(56, 50, 124, 0.49);
    font-size: 15px;

  }
}