@import "../../../../../styles/abstracts/variables";
@import "../../../../../styles/abstracts/mixins";

.total-card {
  min-height: 119px;
  max-width: 100%;
  border-radius: .75rem;
  padding: 5px 30px;
  
  > div {
    min-height: 99px;
  }

  .infos {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .infos p {
    font-size: 14px;
  }
  .infos span {
    font-size: 30px;
  }
  button {
    color: white;
    outline: none !important;
    font-size: 11px;
    border-radius: 10px;
  }
}