@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.menu {
  right: -.4rem;
  background-color: white;
  z-index: 55;

  &.profile {
    right: 1rem;
    @include mq('phone-wide',max){
      right: -3.5rem;
    }
  }
  .notification-container {

    .button {
      background-color: rgba(253, 126, 111, .95);

      &:hover {
        background-color: rgba(253, 126, 111, 1);
      }

      &:focus {
        box-shadow: 0 0 0 3px rgba(253, 126, 111, 0.5);
      }
    }
    .notification-item {
      position: relative;

      &:hover {
        span.ui-circle {
          @include transition(all .2s linear);
          background-color: #D8D8D8;
        }
      }
      span.ui-circle {
        position: absolute;
        left: -1.5rem;
        top: .7rem;
        width: .2rem;
        height: .2rem;
        padding: .25rem;
        border-radius: 100%;
        border: 3px solid;
        background-color: white;
        z-index: 2;
        @include mq('smallest-phone',max){
          left: -1rem;
        }
      }

      span.ui-column {
        position: absolute;
        left: -1.15rem;
        top: 1.4rem;
        width: .15rem;
        height: 100%;
        background-color: #D8D8D8;
        @include mq('smallest-phone',max){
          left: -0.65rem;
        }
      }

      &:last-of-type {
        span.ui-column {
          display: none !important;

        }

      }

      .text {
        flex: 0 0 75%;
        max-width: 75%;

        .title {
          color: $darkBlue;
          font-weight: 500;
          font-size: 1rem;
        }

        .body {
          color: #858585;
          font-weight: 400;
          font-size: .7rem;
        }
      }

      .createdDate {
        flex: 0 0 25%;
        max-width: 25%;

        .date {
          color: $WildWatermelon;
          background-color: rgba(253, 126, 111, .4);
          padding: .2rem .6rem;
          border-radius: 2rem;
          width: auto;
          max-width: max-content;
          margin-left: auto;
          @include mq('tablet',max){
            font-size: .7rem;
          }
        }
      }
    }

  }

}

.w-24rem {
  width: 24rem;

  @include mq('tablet',max){
    width: 18rem;
  }
}

.w-28rem {
  width: 28rem;

  @include mq('tablet',max){
    width: 22rem;
    right:-5rem;
  }
  @include mq('phablet',max){
    right:-3.75rem;
  }
  @include mq('smallest-phone',max){
    width: 18rem;
    right:-3.5rem;
  }
}

.notifications-dropdown--menu {
  max-height: 19rem;
  overflow-y: auto;
}